if SHIELD_BEEBM_LEFT

config ZMK_KEYBOARD_NAME
    default "BBCMicro"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BEEBM_LEFT || SHIELD_BEEBM_RIGHT

config ZMK_SPLIT
    default y

endif